.HeaderPublic{
    background:rgba(244,244,244,1);
    padding:30px 0 0 0;
}
.headerTop{
    width: 1170px;
    height: 103px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
}
.headerTopLeft{
    display: flex;
    align-items: center;
}
.headerTopImg{
    width: 100px;
    height: 100%;
}
.headerTopCenter{
    height: 100%;
    margin-left: 30px;
}
.headerTopCenterZ{
    font-size:48px;
    line-height: 48px;
    font-family:Yuanti SC;
    font-weight:bold;
    color:rgba(153,0,0,1);
    margin: 12px 0 16px 0;
}
.headerTopCenterE{
    font-size:20px;
    font-family:Arial;
    font-weight:400;
    color:rgba(153,0,0,1);
}
.headerTopLine{
    width:2px;
    height:100%;
    background:rgba(233,233,233,1);
    border-radius:1px;
    margin-left: 56px;
}
.headerTopRight{
    float: right;
    height: 100%;
    display: flex;
    align-items: center;;
}
.headerTopRightImg{
    width: 40px;
    height: 40px;
}
.headerTopRightText{
    font-size:30px;
    font-family:Yuanti SC;
    font-weight:bold;
    color:rgba(0,0,0,1);
    margin-left: 14px;
}
.MaxNavWidth{
    width: 100%;
    height:50px;
    background:rgba(153,0,0,1);
    margin-top: 7px;
}
.MinNavWidth{
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    display: flex;
}
.titleItemchecked{
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(255,255,255,1);
    font-size:18px;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(153,0,0,1);
    cursor: pointer;
}
.titleItem{
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:18px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(255,255,255,1);
    cursor: pointer;
}
/* .titleItem:hover{
    background:rgba(255,255,255,.8);
    color:rgba(153,0,0,.8);
    font-weight:500;
} */